{
  "plugins": [
    "jasmine"
  ],
  "extends": [
    "../.eslintrc",
    "plugin:jasmine/recommended"
  ],
  "env": {
    "jasmine": true
  },
  "globals": {
    "module": true,
    "inject": true
  }
}